# Dependencies
node_modules/

# Build output
dist/

# Environment variables and config
.env
src/config/env.ts

# Postman collections/environments
.postman
postman/
postman

inventory-management.postman_collection.json
